
$header-bg-color:#d60000;
$header-bg-color-1:#1aaf5e;
$footer-bg-color:#ea493c;
$white : #fff;
$light: #ffffff;
$stable:#f4f4f4;
$positive:#157efb;
$calm:#4174d9;
$balanced:#0ab771;
$energized:#f2bb16;
$assertive:#ff3b2f;
$royal:#a775e5;
$dark:#777777;

$bg-light:$light;
$bg-stable:$stable;
$bg-positive:$positive;
$bg-calm:$calm;
$bg-balanced:$balanced;
$bg-energized:$energized;
$bg-assertive:$assertive;
$bg-royal:$royal;
$bg-dark:$dark;

$border-color-light:$light;
$border-color-stable:$stable;
$border-color-positive:$positive;
$border-color-calm:$calm;
$border-color-balanced:$balanced;
$border-color-energized:$energized;
$border-color-assertive:$assertive;
$border-color-royal:$royal;
$border-color-dark:$dark;

$tabs-color-light:#ffffff;
$tabs-color-stable:#f4f4f4;
$tabs-color-positive:#157efb;
$tabs-color-calm:#4174d9;
$tabs-color-balanced:#0ab771;
$tabs-color-energized:#f2bb16;
$tabs-color-assertive:#ff3b2f;
$tabs-color-royal:#a775e5;
$tabs-color-dark:#777777;

.color-light{color:$light!important};
.background-light{background:$bg-light!important};

.color-stable{color:$stable!important};
.background-stable{background:$bg-stable!important};

.color-positive{color:$positive!important};
.background-positive{background:$bg-positive!important};

.color-calm{color:$calm!important};
.background-calm{background:$bg-calm!important};

.color-balanced{color:$balanced!important};
.background-balanced{background:$bg-balanced!important};

.color-energized{color:$energized!important};
.background-energized{background:$bg-energized!important};

.color-assertive{color:$assertive!important};
.background-assertive{background:$bg-assertive!important};

.color-royal{color:$royal!important};
.background-royal{background:$bg-royal!important};

.color-dark{color:$dark!important};
.background-dark{background:$bg-dark!important};

