textarea{
	  width: 100%;
    padding: 15px 18px;
    min-height: 150px;
    border:none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    resize: none;
    box-shadow: none;
    border-radius: 0!important;
    font-size: 14px;
    -webkit-appearance: none!important;
    outline: none!important
}